.env
logs/*
build/
*.prof
coverage.*
.air.toml
.idea/
.vscode/
.DS_Store
manager/node_modules/
manager/src/
manager/package.json
manager/package-lock.json
manager/postcss.config.js
manager/tailwind.config.ts
manager/tsconfig*.json
manager/vite.config.ts
manager/index.html
evo que funciona botõtes carossel pix etc para analise/
docker-compose.yml
docker/
